@model IEnumerable<TaskCategory>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}

<div class="text-center">
    <h1 class="display-4">Here are your To-Do Tasks</h1>
</div>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text=primary">Task To-Do List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="TaskCategory" asp-action="CreateTask" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Task
            </a>
        </div>
    </div>
    <br /> <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead></thead>
        <tr>
            <th>
                Task Name
            </th>
            <th>
                Task Status
            </th>
            <th>
                Task Started
            </th>
            <th>
                Task Ended
            </th>
        </tr>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="30%">
                        @obj.TaskName
                    </td>
                    <td width="30%">
                        @obj.TaskStatus
                    </td>
                    <td width="30%">
                        @obj.CreatedDateTime
                    </td>
                    <td width="30%">
                        @if (@obj.CompletedDateTime < obj.CreatedDateTime)
                        {
                            <p>Not Completed</p>
                        }
                        else
                        {
                            @obj.CompletedDateTime
                        }
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="TaskCategory" asp-action="Edit" asp-route-id="@obj.Id"
                               class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit </a>
                        </div>
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="TaskCategory" asp-action="Delete" asp-route-id="@obj.Id"
                               class="btn btn-primary mx-2"> <i class="bi bi-trash"></i> Delete Task </a>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
